:root {
    --title-text-color: #212121;
    --background-color: #ffffff;
    --primary-text-color: #757575;
    --portfolio-border: #EEEEEE;
    --accent-color: #2196f3;
    --nav-text-color: #000000;
    --secondary-zone-color: #f5f4fa;
    --transparent-white: rgba(255, 255, 255, 0.6);
    --primarly-zone-color: #2f303a;
    --people-background-color: #E5E5E5;
    --heder-border: #ECECEC;
    --svg-color: #AFB1B8;
    --svg-background: rgba(255, 255, 255, 0.1);
    --timing-hover: cubic-bezier(0.4, 0, 0.2, 1);
}